@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

@font-face {
    font-family: 'triester_sansregular';
    src: url('../fonts/triester_sans-webfont.woff2') format('woff2'),
         url('../fonts/triester_sans-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'axisextra_bold';
    src: url('../fonts/axis_extrabold-webfont.woff2') format('woff2'),
         url('../fonts/axis_extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'triester_sans_outlineregular';
    src: url('../fonts/triester_sans_outline-webfont.woff2') format('woff2'),
         url('../fonts/triester_sans_outline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'helveticaneueregular';
    src: url('../fonts/helveticaneue-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'helveticaneuebold';
    src: url('../fonts/helvetica_neu_bold-webfont.woff2') format('woff2'),
         url('../fonts/helvetica_neu_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}